{{ partial "head/head.html" . }}
    <body class="{{if .Site.Params.layoutReverse}}layout-reverse {{end}}{{if .Site.Params.dark_mode}}dark-theme{{end}}">
        <div class="wrapper">
            {{ partial "sidebar/sidebar.html" . }}
            <main class="content container">
                {{ block "main" . -}}{{- end }}
								{{- range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) -}}
									{{- $.Scratch.Set "has_related" true -}}
								{{- end -}}

								{{ if $.Scratch.Get "has_related" }}
										<div class="related-content">
                        <p>&nbsp;</p>
												<h3>Kapcsolódó bejegyzések</h3>
												<ul>
														{{- $num_to_show := .Site.Params.related_content_limit | default 3 -}}
														{{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
														<li>
																<a href="{{ .RelPermalink }}">{{ .Title }}</a>
																&ndash; 
																<time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05-0700" }}">
																		{{ .Date.Format "2006-01-02" }}
																</time>
																<br> 
																<small>{{ .Summary | plainify | htmlUnescape }}</small>
														</li>
													{{ end }}
												</ul>
									</div>
								{{ end }}
            </main>
            {{ block "sidebar" . }}{{ end }}
        </div>
    </body>
</html>
